.footer{
    background-color: rgb(0, 29, 134);
    background-image: url(/images/background_reservation.svg);
    background-position: bottom  ;
    background-repeat: no-repeat;
    background-size:cover ;
     box-sizing: border-box;
  padding: 60px 80px 60px 80px;
  font-size: 16px;
  line-height: 20px;
color: white;
}

.footer__columns {
  display: flex;
  justify-content: flex-start;
  gap: 0;
  
}

.footer__column{
  flex-grow:45;
}

.footer__column-heading{
    font-family: inter;
    font-size: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.footer__column_content_social {
flex-grow:1 ; 
}

.footer__logo {
  width: 58px;
  height: 89px;
}

.footer__list-item {
  margin: 0;
  padding: 0;
  font-size: 16px;
  margin-bottom: 16px;
  
}

.footer__column-link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
   font-family: inter;
    font-size: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
 
}

.footer__column-link:hover{
     color: #c1c1c1;
     opacity: 70%;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin-top: 100px;
   font-family: inter;
    font-size: normal;
    font-weight:normal;;
    font-size: 16px;
    line-height: 20px;
}

.footer__logo{
    width: 300px;
}

ul {
    list-style: none;
    text-decoration: none;
}