

.form__label{
   font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 8px;    
    
}



.form__input{
    font-family: inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
     border-radius: 4px;
    height: 60px;
    width: 100%;
    margin-bottom: 32px;

}
.form__button{
    border-radius: 4px;
    background-color: rgb(0, 68, 255);
    color: aliceblue;
    display: block;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 32px;
}

.form__buttom:hover{
    opacity: 70%;
}

.form__checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 32px; ;
}

.form__checkbox-input{
    width: 20px;
    height: 20px;
}

.form__boton{
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}