
.header{
    background-image: url(/images/background_header.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.header__contenedor{
   display: flex;
   justify-content: center;
   align-items: center;
}

.header__title{
    font-size: 6rem;
    line-height: 5rem;
    font-family: "times new roman";
    font-weight: 400;
    color: rgb(0, 128, 255);
}

.header__span-accent{
    color: black;
    font-family: inter;
}

.header__description{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.header__footer{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    line-height: 0.2;
}

.header__paragraph{
    line-height: 0.3;
}
