


a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
}

body{
    background-color:rgba(255, 199, 229, 0) ;
}

.contenedor-1{
    padding: 0 30px;
}
.header{
    background-image: url(/images/background_header.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    padding-top: 20px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 2px 2px rgba(0, 90, 52, 0.262);
    gap: 20px;
}

.nav__link:hover{
    color: #2f80ed;
}

.nav__link:last-child:hover{
    opacity: 70%;
    background-color: #00204b;
    border-radius: 10px;
    box-shadow: 10px 2px 2px rgba(0, 90, 52, 0.262);
    
}

.header__contenedor{
   display: flex;
   justify-content: center;
   align-items: center;
}

h1{
    font-size: 6rem;
    line-height: 5rem;
    font-family: "times new roman";
    font-weight: 400;
    color: rgb(0, 128, 255);
}

span{
    color: black;
    font-family: inter;
}

.header__description{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.header__footer{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    line-height: 0.2;
}

.header__horario{
    line-height: 0.3;
}
