.nav__link{
    text-decoration: none;
    color: black;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
}


.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    padding-top: 20px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 2px 2px rgba(0, 90, 52, 0.262);
    gap: 20px;
}

.nav__link:hover{
    color: #2f80ed;
}

.nav__link:last-child:hover{
    opacity: 70%;
    background-color: #00204b;
    border-radius: 10px;
    box-shadow: 10px 2px 2px rgba(0, 90, 52, 0.262);
    
}