.reservation__title {
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    padding-top: 100px;
    margin: 0 auto 80px ;
}

.reservation{
    background-image: url(/images/background_reservation.svg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
}

.reservation__form{
    max-width: 385px;
    margin-bottom:120px;
}
