
.page{
    min-width: 1100px;
    max-width: 1600px;
    min-height: 1660px;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

body{
    background-color:rgba(255, 199, 229, 0) ;
}

.contenedor-1{
    padding: 0 30px;
}
.header{
    background-image: url(/images/background_header.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    padding-top: 20px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 236, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 2px 2px rgba(0, 90, 52, 0.262);
    gap: 20px;
}

.header__contenedor{
   display: flex;
   justify-content: center;
   align-items: center;
}


.pepe{
    display: flex;
   align-items: center;
   flex-direction: column;
}



h1{
    font-size: 6rem;
    line-height: 5rem;
    font-family: "times new roman";
    font-weight: 400;
    color: rgb(0, 128, 255);
}

span{
    color: black;
    font-family: inter;
}

.header__horarios{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

.header__horario{
    line-height: 0.3;
}

iframe{
    border: 0;
}

main{
}

.recipes{
    padding-top: 30px;
    background-color: rgb(3, 35, 130);
    background-image: url(/images/background_recipes.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}

.recipes__heading{
    color:white ;
    background-color: rgba(0, 36, 89, 0);
    width: 500px;
    padding-bottom: 40px;
}

.recipes__heading h2{
    font-size: 2.8rem;
}

.recipes__heading p{
    font-size: 1.2rem;
}

.recipes__videos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.recipes__title{
    color: white;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

